.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button-container {
  background-color: #8129df;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.Dropdown-container select {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #5a88dc;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}



.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.block.start {
  background-color: green;
}

.block.goal {
  background-color: red;
}

.block.path {
  background-color: purple;
}

.block.traversal {
  background-color: yellow;
}

.block.current {
  background-color: blue;
}

.block.frontier {
  background-color: orange;
}

.block.visited {
  background-color: white;
}

.block.default {
  background-color: grey;
}

@keyframes traversalAnimation {
  from {
    background-color: yellow;
  }
  to {
    background-color: lightyellow;
  }
}

.block.traversal {
  animation: traversalAnimation 1s infinite alternate;
}
